/* основной цвет фона #FFFFFF */
/* вторичный цвет фона #E7E9FC */
/* акцент #4D5AE5 */
/* второй акцент #404BBF; */
/* вторичный цвет текста #2E2F42 */
/* цвет основного текста #434455 */
/* цвет текста3 #F4F4FD*/
/* цвет иконок и бордера #8E8F99 */
/* вторичный цвет иконок #31D0AA*/
/* первичный цвет иконки  #afb1b8; */
/* цвет модального окна background: #FCFCFC; */

:root{
    --primary-white-color: #ffffff;
    --accent-color: #4D5AE5;
    --accent-second-color: #404BBF;
    --second-text-color: #2E2F42;
    --primary-text-color: #434455;
    --btn-background-color: #E7E9FC;
    --third-text-color: #F4F4FD;
    --icon-color: #8E8F99;
    --secondary-icon-color: #31D0AA;
    --first-color-icon: #afb1b8;
    --color-modal: #FCFCFC;
}

body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.list {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

.section{
    /* outline: 1px solid tomato; */
    /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
}

.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid rgb(27, 133, 34); */
}

/*------------- button index--------------*/
.button-index {
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);

    display:block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.button-index:hover,
.button-index:focus{
    background-color: var(--accent-second-color);     
}


.portfolio{
    padding-top: 96px;
}
/* ----------buttons portfolio-------- */
.button-portfolio{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    background-color: var(--third-text-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-portfolio:hover,
.button-portfolio:focus{
    color: var(--primary-white-color);
    background: var(--accent-second-color);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.list-filter{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}


.list-projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

/*-------------- navigation------------*/
.link{
    text-decoration: none;
}

.nav-link{
    color: var(--second-text-color);
    Font-style: Medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.nav-link:hover,
.nav-link:focus{
    color: var(--accent-second-color);
}

.header-main{
    border-bottom: 1px solid var(--btn-background-color);
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-page{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.site-links{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/*--------- подчеркивание в шапке навигации-------- */
.item-studio{
    position: relative;
}

.item-studio::after{
    content: "";

    position: absolute;
    left: 0;
    top: 44px;
    
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-second-color);
}

.item-portfolio {
    position: relative;
}

.item-portfolio::after {
    content: "";

    position: absolute;
    left: 0;
    top: 44px;
    
    width: 66px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-second-color);
}
/* -------------------------- */

.item.logo{
    padding-top: 24px;
    padding-bottom: 24px;

}


.nav-link{

    padding-top: 24px;
    padding-bottom: 24px;
}




/* ----------------logo----------------- */
.logo{
    color: var(--accent-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;;

}

.footer-logo {
    display: inline-block;
    margin: 0;
    margin-bottom: 16px;
}

.project{

    width: calc((100% - 48px)/3); 
}

.logo-black{
    color: var(--second-text-color);
    
}

.logo-white {
    color: var(--third-text-color);
    /* background-color: var(--second-text-color); */
}

/* -----------------contacts------------ */
.contacts{
    font-style: normal;
    
}

.contact-link{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus{
    color: var(--accent-second-color);
    
}

.address{
    display: flex;
}

 .list-contacts{
    display: flex;
    gap: 40px;
}

/*------------------- hero----------------- */
.section-hero{
    background-color: var(--second-text-color);
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    /* max-width: 1440px; */

    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);

    display: flex;    
    justify-content: center;
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    max-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title-hero{
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);

    margin-bottom: 48px;
}

/*------ модальне вікно---- */

.backdrop{
    position: fixed;

    height: 100%;
    width:100%;
    top: 0;
    left: 0;
     background-color:rgba(0, 0, 0, 0.5);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

 .modal{
    position: absolute;

    width: 408px;
    min-height: 584px;

    padding-top: 72px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;

    left: 50%;
    top: 50%;
    background-color:  var(--color-modal);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.button-modal-close{
    position:absolute;
    top:24px;
    right:24px;

    border-radius: 50%;
    background-color: var(--btn-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover,
.button-modal-close:focus{
    fill: var(--primary-white-color);
    background-color: var(--accent-second-color);
}

.icon-modal{
   
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
}

/* форма модального вікна */

.title-modal{
    text-align: center;
    letter-spacing: 0.02em;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--second-text-color);

    margin-bottom: 16px;
}

.block-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}


.text-label{
    margin-bottom: 4px;
    color: var(--icon-color);

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}

.input-cont{
    position: relative;
   
}



.icon-form {
    position: absolute;
    top: 8px;
    left: 16px;

    fill: var(--second-text-color);
}

.modal-input{
    height: 40px;
    width: 360px;
    padding: 11px 38px;
    
    
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-input:focus,
.modal-input:hover{
    border: 1px solid var(--accent-color);
}

.modal-input:hover + .icon-form,
.modal-input:focus+.icon-form{
    fill: var(--accent-color);
}

.textarea-form{
    padding:  8px 16px;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.textarea-form:focus,
.textarea-form:hover{
    border: 1px solid var(--accent-color);
}

.textarea-form::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

/* чек-бокс модального вікна */

.checkbox{ 
    position: absolute;
    -webkit-appearance: none;
    -moz-animation: none;
    appearance: none;
   
}

.check-form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.icon-check{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;   
}

.checkbox:focus + .icon-check,
.checkbox:hover + .icon-check,
.checkbox:active + .icon-check{
    border-color: var(--accent-color);
}

.checkbox:checked + .icon-check {
    background-image: url(../images/checked-blue.svg);
    background-color: var(--accent-second-color);
    background-size: contain;
}

.text-policy{
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: var(--icon-color);
      
}

.policy-href{
    color: var(--accent-color);
}

/*--------------------- qualities---------------- */
.hidden-title{   
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.qualities-title{
    margin-bottom: 8px;
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.quality{
    width: calc((100% - 72px) / 4);  
    
}

.quality-icon{
    padding:  24px 102px;
    display:  flex;
    background-color: var(--third-text-color);
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;
}

.qualities-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container-qualities{
    display: flex;
    align-items: center; /*для вирівнювання іконки по вертикалі*/
    justify-content: center; /*для вирівнювання іконки по горизонталі*/
    height: 112px;
    border-radius: 4px;
}

.list-qualities{
    display: flex; 
    justify-content: center;
    gap: 24px;
}

.section-qualities{
    padding: 120px 0;
}

/* ----what wre we doing ------projects------- */

.title-work{  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-text-color);
    text-align: center;

    margin-bottom: 72px;
}


.section .images-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-text-color);    

    margin-bottom: 8px;
}

.images-width{
    display: block;
    width: 100%;
   
}

.section .images-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}


.list-work {
    display: flex;
     justify-content: space-between;
    gap: 24px;
}
.work{
    width: calc((100% - 48px) / 3);
}
.list-work img{
    display: block;
}

.link-app{   
    display: block;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-app:hover,
.link-app:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        
}

/*------------ portfolio projects------- */

.product-image{
 position: relative;
 width: 100%;
 overflow: hidden;
}

.owerlay{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    mix-blend-mode: normal;

    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover .owerlay {
    transform: translateY(0);
    opacity: 0.9;
}

.owerlay > p{
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 40px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
}



.project-text {
    /* outline: 1px solid violet; */
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

/* ----------team------------- */
.section-team{
    background-color: var(--third-text-color);
    padding: 120px 0;
}

.team-container {
    /* padding: 32px 0; */
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-text-color);
    text-align: center;
    margin-bottom: 72px;
}

.list-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.member{
    width: calc((100% - 72px) / 4);
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.member-container{
    padding: 32px 16px;
    
}

.list-networks{
    display: flex;
    justify-content: space-between;
    gap:24px;   
}

.icon-network-team{
    fill: var(--third-text-color);
}

.team-network{
    width:40px;
    height: 40px;
    cursor: pointer;
   
}

.href-teamnetwork{
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.href-teamnetwork:hover,
.href-teamnetwork:focus{
    background-color: var(--accent-second-color);
    

}
.icon-network-team:hover,
.icon-network-team:focus{
    fill: var(--third-text-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------- customers------------ */

.section-customers{
    /* padding: 0;
    padding: 125px 0px 115px 0px; */
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-text-color);
    text-align: center;
    margin-bottom: 72px;
}

.list-customers{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}

.customer{
   
    width: calc((100% - 120px) / 6);
    height: 88px;
    
}

.href-customer{
    display: flex;
    align-items: center;
    color: var(--first-color-icon);
    justify-content: center;
    border: 1px solid var(--icon-color);
    fill: var(--icon-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.href-customer:hover,
.href-customer:focus{
    border-color: var(--accent-second-color);
    color: var(--accent-second-color);
    
}

.icon-customer{
    fill: currentColor;
}
/* -------------footer---------------- */
.section-footer{
    background-color: var(--second-text-color);

    padding-top: 100px;        
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.container-footer {
    display: flex;
    align-items: flex-start;
  
}

.container-logo {
    margin-right: 120px;
}

.footer-text{
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--third-text-color);
}




.container-networks{
    margin-right: 80px;
    
}

.footlist-networks {
    display: flex;
    justify-content: space-between;
    gap: 16px;

}

.item-network{
    width: 40px;
    height: 40px;
}
.social-media{
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    
}

.href-network{
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.href-network:hover,
.href-network:focus{
    background-color: var(--secondary-icon-color);
    

}

.icon-network{
    fill: var(--third-text-color);
}

/* subscribe */

.text-subscribe {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}

.label {
    display: block;
    margin-bottom: 16px;
}

.subscribe {
    display: flex;
    justify-content: flex-end;

}

.input-subscribe {
    margin-right: 24px;
    padding: 8px 16px;
    width: 264px;
    height: 40px;

    border-radius: 4px;
    border-color: 1px solid var(--primary-white-color);
    background-color: transparent;
   
   color: var(--primary-white-color);
}

.input-subscribe::placeholder{
    color: var(--primary-white-color);
}


.button-subscribe {
    display: flex;
    align-items: center;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    gap: 16px;

    border: none;
    background-color: var(--accent-color);
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:focus,
.button-subscribe:hover {
    background-color: var(--accent-second-color);
}